body {
    margin: 0px;
    padding: 0px;
}

.input {
    background-color: #f3f3f9;
    border: none;
    border-radius: 30px;
    box-shadow: none;
    height: 38px;
    padding-left: 40px;
    padding-right: 20px;
}

.input::placeholder {
    color:#ff34ac;
    font-weight: 600;
    font-size: 14px;
}

.input-search {
    font-size: 16px;
    left: 16px;
    line-height: 38px;
    position: absolute;
    top: 5px;
    z-index: 10;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
  }